.vscode
.terraform
*.tfstate
*.tfstate.*backup
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache
.terraformrc
terraform.rc
*.log
*.tfvars
*.tfvars.json
.terraform.tfvars
.terraform.tfvars.json
.terraform.tfstate
.terraform.tfstate.backup       